<h1>Login!</h1>

<form action="/users/login" method="post">
    <label for="user_email">Email: </label><br>
    <input type="email" name="user[email]" id="user_email"><br>
    <label for="user_password">Password: </label><br>
    <input type="password" name="user[password]" id="user_password"><br>
    <br>
    <input type="submit" value="Login">
</form>