<h1>Login!</h1>

<form action="/users/login" method="post">
    <label>Email: </label><br>
    <input type="email" name="user[email]"><br>
    <label>Password: </label><br>
    <input type="password" name="user[password]"><br>
    <br>
    <input type="submit" value="Login"
</form>