<h1>Signup!</h1>

<form action="users/signup" method="post">
    <label>Username: </label><br>
    <input type="text" name="user[username]"><br>
    <label>Email: </label><br>
    <input type="email" name="user[email]"><br>
    <label>Password: </label><br>
    <input type="password" name="user[password]"><br>
    <br>
    <input type="submit" value="Signup">
</form>