<h1>New Crop!</h1>
<small style="color: red;"><%= @errors %></small>
<form action="/crops" method="post">
    <label for="crop_name">Name: </label><br>
        <input type="text" name="crop[name]" id="crop_name"><br><br>
    <label for="crop_quantity">Quantity Harvested: </label><br>
        <input type="text" name="crop[quantity]" id="crop_quantity"><br><br>
    <label for="crop_text">Year Harvested: </label><br>
        <input type="text" name="crop[year]" id="crop_year"><br><br>
    <label for="crop_season">Season: </label><br>
        <select name="crop[season]" id="crop_season">
            <option disabled selected value></option>
            <option value="Winter" >Winter</option>
            <option value="Spring" >Spring</option>
            <option value="Summer" >Summer</option>
            <option value="Fall" >Fall</option>
        </select>
    <input type="hidden" name="crop[user_id]" value="<%= current_user.id %>">
    <br><br>
    <br>
    <input type="submit" value="Create Crop">
</form>